{% extends 'base.html' %} {% load static %} {% block content %}

<link href="{% static 'cryptology/freq.css'%}" rel="stylesheet" type="text/css">
<div class="form">
    <div class="main-div">
        <div class="leftside">
            <textarea rows="4" cols="50" name="intext" id="message" class="superunique"></textarea>
        </div>
        <div class="midleside">
            <input type="file" name="file" id="upload-plain-text"><br><br>
            <input type="button" value="GenerateKeys" onclick="generateKeys()" style="margin-left: 97px; width: 220px"><br>
            <label for="key">Public key: <b>p</b>:</label>
            <input type="text" name="public-key-p" style="width:220px;" required id="public-key-p">
            <br>
            <label for="public-key-g" style="margin-left:78px;"><b>g:</b></label>
            <input type="text" name="public-key-g" style="width:220px;" required id="public-key-g">
            <br>
            <label for="public-key-y" style="margin-left:78px;"><b>y:</b></label>
            <input type="text" name="public-key-y" style="width:220px; " required id="public-key-y">
            <br>
            <input type="button" value="DownloadKey" class="key-operations download" onclick="downloadPublicKey()" style="margin-left: 97px;">
            <input type="button" value="UploadKey" onclick="uploadPublicKey()">
            <input type="file" value="UploadKey" class="key-operations upload" id="upload-public-key" style="visibility: hidden; position:absolute; left:-1000px; width:1px; height: 1px;">
            <a id="download-public-key" href=”” style="visibility: collapse; position:absolute; left:-1000px; width:1px; height: 1px;">e</a>
            <br><br>
            <label for="private-key">Private key <b>x</b>:</label>
            <input type="text" name="private-key" style="width:220px;" required id="private-key">
            <br>
            <input type="button" value="DownloadKey" class="key-operations download" onclick="downloadPrivateKey()" style="margin-left: 97px;">
            <input type="button" value="UploadKey" onclick="uploadPrivateKey()">
            <input type="file" value="UploadKey" class="key-operations upload" id="upload-private-key" style="visibility: hidden; position:absolute; left:-1000px; width:1px; height: 1px;">
            <a id="download-private-key" href=”” style="visibility: collapse; position:absolute; left:-1000px; width:1px; height: 1px;">e</a> <br><br>
            <br>
            <input type="button" value="Sign message" style="margin-left: 97px; width: 220px; height:40px">
            <br><br>
            <label for="mod" style="margin-left:71px"><b>S1</b>:</label>
            <input type="text" name="mod" style="width:220px;" required id="s1">
            <br>
            <label for="mod" style="margin-left:71px"><b>S2</b>:</label>
            <input type="text" name="mod" style="width:220px;" required id="s2"> <br><br>
            <br><br><br><br>
            <textarea rows="4" cols="50" name="outtext" readonly id="tosave"></textarea><br><br>

        </div>

        <input type="button" onclick='save()' style="width: 100px; height: 50px;" value="Save this"><br><br>
        <a id="download_link" download="cryptedfile.txt" href=”” style="visibility: hidden; position:absolute; left:-1000px; width:1px; height: 1px;" target="_blank" onclick="this.style.visibility='collapse';">Download as Text File</a>

        <div class="rightside"></div>
    </div>
</div>
<script type="text/javascript" src="{% static '/cryptology/js/rsa.js' %}"></script>
<script type='text/javascript'>
</script>
{% endblock content %}