{% extends 'base.html' %} {% load static %} {% block content %}

<link href="{% static 'cryptology/freq.css'%}" rel="stylesheet" type="text/css">
<div class="form">
    <div class="main-div">
        <div class="leftside">
            <textarea rows="4" cols="50" name="intext" id="message" class="superunique"></textarea>
        </div>
        <div class="midleside">
            <input type="file" name="file" id="upload-text"><br><br>
            <label for="decrypt-check">Decrypt?</label>
            <input type="checkbox" name="decrypt-check" id="choose" checked onclick="deOrEncode()">
            <br>
            <input type="button" value="GenerateKeys" onclick="generateKeys()" style="margin-left: 150px; width: 220px"><br> <br>
            <label for="key">Public key to <b>encrypt</b>:</label>
            <input type="text" name="public-key" style="width:220px;" required id="public-key">
            <input type="button" value="DownloadKey" class="key-operations download" onclick="downloadPublicKey()">
            <input type="button" value="UploadKey" onclick="uploadPublicKey()">
            <input type="file" value="UploadKey" class="key-operations upload" id="upload-key" style="visibility: hidden; position:absolute; left:-1000px; width:1px; height: 1px;">
            <a id="download_link_key" download="vernar_key.txt" href=”” style="visibility: hidden; position:absolute; left:-1000px; width:1px; height: 1px;">e</a>
            <br><br>
            <label for="private-key">Private key to <b>decrypt</b>:</label>
            <input type="text" name="private-key" style="width:220px;" required id="private-key">
            <input type="button" value="DownloadKey" class="key-operations download" onclick="downloadPrivateKey()">
            <input type="button" value="UploadKey" onclick="uploadPrivateKey()">
            <input type="file" value="UploadKey" class="key-operations upload" id="upload-key" style="visibility: hidden; position:absolute; left:-1000px; width:1px; height: 1px;">
            <a id="download_link_key" download="vernar_key.txt" href=”” style="visibility: hidden; position:absolute; left:-1000px; width:1px; height: 1px;">e</a> <br><br>
            <label for="mod">Module (N) :</label>
            <input type="text" name="mod" style="width:220px;" required id="mod"> <br><br>
            <input type="button" value="Translate!" onclick="sendItems()">
            <br><br><br><br>
            <textarea rows="4" cols="50" name="outtext" readonly id="tosave">{{val}}</textarea><br><br>

        </div>

        <input type="button" onclick='save()' style="width: 100px; height: 50px;" value="Save this"><br><br>
        <a id="download_link" download="cryptedfile.txt" href=”” style="visibility: hidden; position:absolute; left:-1000px; width:1px; height: 1px;" target="_blank" onclick="this.style.visibility='collapse';">Download as Text File</a>

        <div class="rightside"></div>
    </div>
</div>
<script type="text/javascript" src="{% static '/cryptology/js/rsa.js' %}"></script>
<script type='text/javascript'>
</script>
{% endblock content %}