{% extends 'base.html' %} {% load static %} {% block content %}

<link href="{% static 'about.css'%}" rel="stylesheet" type="text/css">
<div class="main">
    <div class="item"><a href="#">1. Frequency</a></div>
    <div class="item"><a href="#">2. Simple substition</a></div>
    <div class="item"><a href="#">3. Frequency Analysys</a></div>
    <div class="item"><a href="#">4. Vigenere</a></div>
    <div class="item"><a href="#">5. Vernam</a></div>
    <div class="item"><a href="{% url 'rsa' %}">6. RSA</a></div>
    <div class="item"><a href="{% url 'elgamal' %}">7. El gamal</a></div>
</div>
{% endblock content%}